.sidebar-container {
  background-color: #fff;
  height: calc(100vh - 3rem);
  overflow-y: auto;
  width: 25vw;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 1rem;
  position: relative;
}

.sidebar-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(249, 250, 251, 0.404);
  background-color: rgba(249, 250, 251);
  width: 25vw;
  height: 4rem;
}

.sidebar-footer > .content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.highlights {
  list-style-position: inside;
}

li {
  padding-left: 1.5em;
  text-indent: -1.5em;
}